<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/login.css}" />
<title>ログイン画面</title>
</head>
<body>
<main>
<div class="main_div">
<h1>ログイン</h1>
<p>ユーザーIDとパスワードを入力してください。</p>
	<form th:action="@{/login}" method="post" th:object="${signupForm}">
		<label>
			<p th:text="#{password}"></p><input type="password"  th:field="*{password}" th:errorclass="is-invalid" >
			<div class="invalid-feedback" th:errors="*{password}"></div>
		</label><br>
		<label>
			<p th:text="#{userName}"></p><input type="text"  th:field="*{userName}">
			<div class="invalid-feedback" th:errors="*{userName}"></div>
		</label><br>
		<input type="submit" value="ログイン" class="login_btn">
	</form>
	<div class="account_div">
	<p>↓新規アカウント登録はこちらから↓<br>
	<a th:href="@{user/signup}"><button class="newAccount_btn">新規アカウント登録</button></a>
	</p>
	</div>
</div>
</main>	
</body>
</html>